</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% const d = new Date();
  let year = d.getFullYear(); %>
  <p>Copyright © <%= year %></p>
</footer>
</body>

</html>